{% extends 'base.html' %}

{% block title %} Product Page {% endblock %}

{% block content %}

{% include 'partials/_topnav.html' %}

<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Product</h4>
                <hr>
                <form action="" method="POST">

                        <div class="form-group">
                          <label for="exampleInputEmail1">Name</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="form-group">
                          <label for="quantity">Quantity</label>
                          <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="costprice">Cost Price</label>
                            <input type="number" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="sellingprice">Selling Price</label>
                            <input type="number" class="form-control" id="exampleInputPassword1">
                          </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select id="category" class="form-control">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                          </div>
                        

                    <input class="btn btn-success btn-block" value="Add Product" type="submit">
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Cost Price</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="">Edit</a>
                        <a class="btn btn-danger btn-sm" href="">Delete</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Apollos</td>
                    <td>Gande</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="">Edit</a>
                        <a class="btn btn-danger btn-sm" href="">Delete</a>
                    </td>
                  </tr>                      
                </tbody>
              </table>
        </div>
    </div>

  
  
    
  </table>
</div>
<!--End Table-->
{% endblock %}