{% extends 'base.html' %}

{% block title %} Sales Page {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/_topnav.html' %}

 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Sales</h4>
                <hr>
                <form action="" method="POST">
                  {% csrf_token %}

                  {{ Sales_Form | crispy }}



                                
                    <input class="btn btn-success btn-block" value="Add Sales" type="submit">
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty Sold</th>
                    <th scope="col">Sold Date</th>
                    <th scope="col">Sold By</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <td nowrap>{{ order.product }}</td>
                    <td>{{ order.product.category }}</td>
                    <td nowrap>{{ order.price }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.salesdate }}</td>
                    <td nowrap>{{ order.staff.username }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="">Receipt</a>
                    </td>
                  </tr>    
                  {% endfor %}               
                </tbody>
              </table>
        </div>
    </div>

  
  
    
  </table>
</div>
<!--End Table-->
{% endblock %}