{% extends 'base.html' %}

{% block title %} {{worker.username}} | Profile Detail {% endblock %}

{% load crispy_forms_tags %}


{% block content %}

{% include 'partials/_topnav.html' %}

<div class="container">
    <div class="row my-4">
      {% include 'partials/_alerts.html' %}
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
           <div class="card">
               <div class="card-header bg-info text-white">
                Staff Profile
               </div>
               <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <span class="h4">{{worker.username}} Profile Information</span><a class="btn btn-info btn-sm float-right" href="{% url 'dashboard-staff' %}">View All Staff</a>
                        <hr>
                        <table class="table bg-white table-borderless">
                            <tbody>
                              <tr>
                                <th scope="row">Username</th>
                                <td>{{worker.username}}</td>
                              </tr>   
                              <tr>
                                <th scope="row">Phone</th>
                                <td>{{worker.profile.phone}}</td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Email</th>
                                <td>{{worker.email}}</td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Address</th>
                                <td>{{worker.profile.address}}</td>                                   
                              </tr>                   
                            </tbody>
                          </table>
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="{{ worker.profile.image.url }}" alt="">
                    </div>
                </div>
               </div>
           </div>
        </div>
        
    </div>
  </table>
</div>

{% endblock %}