{% load crispy_forms_tags %}

{% load humanize %}

<div class="container">
    <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Sales</h4>
                <hr>
                <form action="" method="POST">
                  {% csrf_token %}
                  
                  

                    <input class="btn btn-success btn-block" value="Add Sales" type="submit">
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty Sold</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if sales  %}

                  {% for sell in sales %}
                  <tr>
                    
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ sell.product }}</td>
                    <td>{{ sell.product.category }}</td>
                    <td>N{{ sell.price | intcomma }}</td>
                    <td>{{ sell.quantity }}</td>
                    <td>
                      <!--Multiply Price by Quantity Sold-->
                      {% widthratio sell.price 1 sell.quantity as total_amount %}

                      <!--Convert the Result to Comma Separated Figure-->
                      N{{ total_amount | intcomma }}
                    </td>
                    <td>{{ sell.salesdate | naturaltime }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="">Receipt</a>
                    </td>
                  </tr> 
                  {% endfor %}  

                  {% else %} 
                  <tr> No Sales Available</tr> 

                  {% endif %}              
                </tbody>
              </table>
        </div>
    </div>

  
  
    
  </table>
</div>
<!--End Table-->
</div>