{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
           <div class="card">
               <div class="card-header bg-info text-white">
                Staff Profile
               </div>
               <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <span class="h4">Profile Information</span><a class="btn btn-info btn-sm float-right" href="">Edit</a>
                        <hr>
                        <table class="table bg-white table-borderless">
                            <tbody>
                              <tr>
                                <th scope="row">Name</th>
                                <td>Apollos Gande</td>
                              </tr>   
                              <tr>
                                <th scope="row">Phone</th>
                                <td>08026421028</td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Email</th>
                                <td>successgande@hotmail.com</td>                                   
                              </tr>  
                              <tr>
                                <th scope="row">Address</th>
                                <td>Behind NKST Anzwar, Gboko-North</td>                                   
                              </tr>                   
                            </tbody>
                          </table>
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="./media/blessing.jpg" alt="">
                    </div>
                </div>
               </div>
           </div>
        </div>
        
    </div>
  </table>
</div>
<!--End Table-->
{% endblock %}